body {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
}
.timer {
  display: flex;
  gap: 10px;
}
span {
  font-size: 30px;
}
.container {
  display: flex;
  gap: 5px;
}
